[submodule "external/miniaudio"]
	path = external/miniaudio
	url = https://github.com/mackron/miniaudio.git
[submodule "external/taglib"]
	path = external/taglib
	url = https://github.com/taglib/taglib.git
